In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

##  POTENTIAL SCORES CALC. USING ONLY EPL_PLAYERS DATASET

In [2]:
# Loading DataFrame
epl_players = pd.read_csv('epl_players.csv')

In [3]:
epl_players.columns

Index(['player_id', 'birthday', 'height', 'weight', 'date', 'preferred_foot',
       'attacking_work_rate', 'defensive_work_rate', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve',
       'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration',
       'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power',
       'jumping', 'stamina', 'strength', 'long_shots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'marking',
       'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes'],
      dtype='object')

In [4]:
epl_players=epl_players.dropna()

In [5]:
#Creating a fitness parameter based on Height & wieght of the player
# Fitness = 100*(1 - (Weigth/Height))
epl_players['fitness'] = 100*(1 - (epl_players['weight']/epl_players['height']))

In [6]:
#Normalizing the fitness parameter

x = epl_players[['fitness']].values #returns a 2-D numpy array
min_max_scaler = preprocessing.MinMaxScaler()
fitness_scaled = min_max_scaler.fit_transform(x)
finess_normalized = pd.DataFrame(fitness_scaled)

In [7]:
# epl_players['Fitness'].max()
# print(finess_normalized)
epl_players['fitness_normalized'] = 100*finess_normalized
del epl_players['fitness']

In [8]:
#Creating a overall potential parameter based on all categorical data from 'crossing' to 'fitness_normalized'
col = epl_players.loc[: , 'crossing': 'fitness_normalized']
epl_players['Overall_potential'] = col.mean(axis=1)

In [9]:
#Final Dataset after considering EPL_PLAYERS DATASET
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.870720
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.576602
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.017779
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955

## EPL_GOALS DATASET

In [10]:
# Loading DataFrame
epl_goals = pd.read_csv('epl_goals.csv')

In [11]:
# epl_goals.head()
epl_goals.shape

(7561, 6)

In [12]:
epl_goals_1 = epl_goals.copy()

In [13]:
del epl_goals_1['match_id']
del epl_goals_1['player2_id']
del epl_goals_1['goal_type']
del epl_goals_1['team_id']
epl_goals_1.rename(columns = {'player1_id' : 'player_id'} , inplace = True)
epl_goals_1.head(20)

    goal_number  player_id
0             1    37799.0
1             2    24148.0
2             1    26181.0
3             1    30853.0
4             1    23139.0
5             2    23139.0
6             3   127857.0
7             1    26165.0
8             2    40198.0
9             3    23264.0
10            4    23264.0
11            5    23264.0
12            6    46403.0
13            1    30342.0
14            2    24011.0
15            3    24160.0
16            4    30646.0
17            5    37764.0
18            1    24166.0
19            2    24166.0

In [14]:
epl_goals_1=epl_goals_1.groupby(['player_id']).sum()

In [15]:
epl_goals_1.shape

(852, 1)

In [16]:
epl_goals_2 = epl_goals.copy()

In [17]:
del epl_goals_2['match_id']
del epl_goals_2['player1_id']
del epl_goals_2['goal_type']
del epl_goals_2['team_id']
epl_goals_2.rename(columns = {'player2_id' : 'player_id','goal_number':'goal_number2'} , inplace = True)
epl_goals_2.head()

   goal_number2  player_id
0             1    38807.0
1             2    24154.0
2             1    39297.0
3             1    30889.0
4             1    36394.0

In [18]:
#Considering player2 as half contributor in goal
epl_goals_2['goal_number2'] = epl_goals_2['goal_number2']/2
epl_goals_2.head()

   goal_number2  player_id
0           0.5    38807.0
1           1.0    24154.0
2           0.5    39297.0
3           0.5    30889.0
4           0.5    36394.0

In [19]:
epl_goals_2=epl_goals_2.groupby(['player_id']).sum()
epl_goals_2.shape

(831, 1)

In [20]:
epl_players=pd.merge(epl_players, epl_goals_1, on='player_id')

In [21]:
epl_players=pd.merge(epl_players, epl_goals_2, on='player_id')

In [22]:
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_number,goal_number2
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.870720,2,3.5
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.576602,2,3.5
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.017779,2,3.5
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,2,3.5
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,2,3.5

In [23]:
#Normalizing the goals parameter

x = epl_players[['goal_number']].values #returns a 2-D numpy array
min_max_scaler = preprocessing.MinMaxScaler()
goal_scaled = min_max_scaler.fit_transform(x)
goal_normalized = pd.DataFrame(goal_scaled)
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_number,goal_number2
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.870720,2,3.5
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.576602,2,3.5
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.017779,2,3.5
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,2,3.5
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,2,3.5

In [24]:
# Taking goals maximum 10 value for player value
epl_players['goal_normalized'] = 10*goal_normalized
del epl_players['goal_number']

In [25]:
#Normalizing the assisted goals parameter

x = epl_players[['goal_number2']].values #returns a 2-D numpy array
min_max_scaler = preprocessing.MinMaxScaler()
goal2_scaled = min_max_scaler.fit_transform(x)
goal2_normalized = pd.DataFrame(goal2_scaled)
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_number2,goal_normalized
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.870720,3.5,0.02849
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.576602,3.5,0.02849
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.017779,3.5,0.02849
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,3.5,0.02849
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,3.5,0.02849

In [26]:
# Taking goals maximum 5 value for player value
epl_players['assistance_normalized'] = 5*goal2_normalized
del epl_players['goal_number2']

In [27]:
#Final Dataset after considering EPL_GOALS DATASET
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_normalized,assistance_normalized
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.870720,0.02849,0.16129
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.576602,0.02849,0.16129
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,60.017779,0.02849,0.16129
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,0.02849,0.16129
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,78.0,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,0.02849,0.16129

## EPL_POTENTIAL_SHOTS DATASET

In [28]:
epl_potential = pd.read_csv('epl_potential_shots.csv')
epl_potential.columns
# epl_potential.shape

Index(['match_id', 'team_id', 'shot_number', 'player1_id', 'shot_type'], dtype='object')

In [29]:
del epl_potential['match_id']
del epl_potential['shot_type']
del epl_potential['team_id']
epl_potential.rename(columns = {'player1_id' : 'player_id'} , inplace = True)

In [30]:
epl_potential=epl_potential.groupby(['player_id']).sum()
epl_potential.shape

(1126, 1)

In [31]:
epl_players=pd.merge(epl_players, epl_potential, on='player_id')

In [32]:
#Normalizing the potential_shots parameter

x = epl_players[['shot_number']].values #returns a 2-D numpy array
min_max_scaler = preprocessing.MinMaxScaler()
pot_scaled = min_max_scaler.fit_transform(x)
pot_normalized = pd.DataFrame(pot_scaled)
epl_players.head()
print(pot_normalized)

              0
0      0.053435
1      0.053435
2      0.053435
3      0.053435
4      0.053435
...         ...
17087  0.145370
17088  0.145370
17089  0.145370
17090  0.145370
17091  0.145370

[17092 rows x 1 columns]

In [33]:
# Taking potential shots maximum 5 value for player value
epl_players['shot_normalized'] = 5*pot_normalized
del epl_players['shot_number']

In [34]:
#FINAL EPL_PLAYER DATASET AFTER CONSIDERING ALL RELEVANT ATTRIBUTES
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_normalized,assistance_normalized,shot_normalized
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,14.0,7.0,9.0,9.0,12.0,71.604478,60.870720,0.02849,0.16129,0.267176
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,14.0,7.0,9.0,9.0,12.0,71.604478,60.576602,0.02849,0.16129,0.267176
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,14.0,7.0,9.0,9.0,12.0,71.604478,60.017779,0.02849,0.16129,0.267176
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,0.02849,0.16129,0.267176
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,14.0,7.0,9.0,9.0,12.0,71.604478,59.958955,0.02849,0.16129,0.267176

## ADDING NEW COLUMN NAMED VALUE OF PLAYER

In [35]:
#Adding last 4 columns of dataframe to generate value of the player 
epl_players['Value_of_player'] =epl_players['Overall_potential'] +epl_players['goal_normalized'] + epl_players['assistance_normalized'] +epl_players['shot_normalized']

In [36]:
epl_players.head()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_normalized,assistance_normalized,shot_normalized,Value_of_player
0,155782,12/15/1989 0:00,170.18,146.0,4/21/2016 0:00,left,high,medium,80.0,53.0,...,7.0,9.0,9.0,12.0,71.604478,60.870720,0.02849,0.16129,0.267176,61.327676
1,155782,12/15/1989 0:00,170.18,146.0,4/7/2016 0:00,left,high,medium,80.0,53.0,...,7.0,9.0,9.0,12.0,71.604478,60.576602,0.02849,0.16129,0.267176,61.033558
2,155782,12/15/1989 0:00,170.18,146.0,1/7/2016 0:00,left,high,medium,79.0,52.0,...,7.0,9.0,9.0,12.0,71.604478,60.017779,0.02849,0.16129,0.267176,60.474735
3,155782,12/15/1989 0:00,170.18,146.0,12/24/2015 0:00,left,high,medium,79.0,51.0,...,7.0,9.0,9.0,12.0,71.604478,59.958955,0.02849,0.16129,0.267176,60.415911
4,155782,12/15/1989 0:00,170.18,146.0,12/17/2015 0:00,left,high,medium,79.0,51.0,...,7.0,9.0,9.0,12.0,71.604478,59.958955,0.02849,0.16129,0.267176,60.415911

In [37]:
epl_players=epl_players.sort_values('Value_of_player')
epl_players.tail()

,player_id,birthday,height,weight,date,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,gk_handling,gk_kicking,gk_positioning,gk_reflexes,fitness_normalized,Overall_potential,goal_normalized,assistance_normalized,shot_normalized,Value_of_player
16591,30829,10/24/1985 0:00,175.26,183.0,2/22/2007 0:00,right,high,high,74.0,93.0,...,7.0,71.0,11.0,12.0,52.771739,70.552110,9.62963,4.462366,5.0,89.644105
16589,30829,10/24/1985 0:00,175.26,183.0,8/30/2008 0:00,right,high,high,76.0,91.0,...,21.0,75.0,21.0,21.0,52.771739,70.846228,9.62963,4.462366,5.0,89.938223
16590,30829,10/24/1985 0:00,175.26,183.0,8/30/2007 0:00,right,high,high,77.0,90.0,...,21.0,72.0,21.0,21.0,52.771739,71.787404,9.62963,4.462366,5.0,90.879399
16588,30829,10/24/1985 0:00,175.26,183.0,8/30/2009 0:00,right,high,high,81.0,91.0,...,21.0,80.0,21.0,21.0,52.771739,71.787404,9.62963,4.462366,5.0,90.879399
16587,30829,10/24/1985 0:00,175.26,183.0,2/22/2010 0:00,right,high,high,80.0,94.0,...,21.0,86.0,21.0,21.0,52.771739,73.199169,9.62963,4.462366,5.0,92.291164

In [38]:
#removing duplicate plyer_id
epl_players=epl_players.drop_duplicates(subset = ['player_id'], keep='first')

# COPYING DESIRED OUTPUT TO SUBMISSION FILE

In [39]:
top = epl_players.nlargest(10, ['Value_of_player'])
top=top.filter(['player_id'])
top.rename(columns ={'player_id': 'most_valuable'} , inplace = True)
top = top.reset_index(drop  = True)

In [40]:
least=epl_players.nsmallest(10, ['Value_of_player'])
least = least.filter(['player_id'])
least.rename(columns ={'player_id': 'least_valuable'} , inplace = True)
least = least.reset_index(drop =True)

In [41]:
result = pd.concat([top, least], axis = 1 )
result

   most_valuable  least_valuable
0          30829          214426
1          30618           72417
2          30843           23794
3          37412          117545
4          30631           24952
5          36615           25156
6          30613           23686
7          38817          214570
8          38807          172841
9          37459           35523

In [42]:
#Copying to the destination file
result.to_csv('player_list_submission.csv',index=False)